<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.1 
# *Data Wrangling and Munging with Pandas*

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [2]:
import numpy as np
import pandas as pd

*It is good practice to display the library version numbers for future reference:*

In [5]:
print('Numpy: ', np.__version__)
print('Pandas: ', pd.__version__)

Numpy:  1.19.0
Pandas:  0.24.2

### CSV Files

Below are three attempts to load the file "bikeshare.csv" into a DataFrame named `bikes`. Why are they wrong?

In [5]:
# wrong:
bikes = pd.read_table('bikeshare.csv', header = None, sep= ',')
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('bikeshare.csv', header = 1, sep = ',')
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('bikeshare.csv', header = 0, sep = ',')
print(bikes.head())

        0           1       2   3     4   5        6        7           8   \
0  instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday
1        1  2011-01-01       1   0     1   0        0        6           0
2        2  2011-01-01       1   0     1   1        0        6           0
3        3  2011-01-01       1   0     1   2        0        6           0
4        4  2011-01-01       1   0     1   3        0        6           0

           9     10      11    12         13      14          15   16
0  weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
1           1  0.24  0.2879  0.81          0       3          13   16
2           1  0.22  0.2727   0.8          0       8          32   40
3           1  0.22  0.2727   0.8          0       5          27   32
4           1  0.24  0.2879  0.75          0       3          10   13

   1  2011-01-01  1.1  0  1.2  0.1  0.2  6  0.3  1.3  0.24  0.2879  0.81  \
0  2  2011-01-01    1  0    1    1    0  6    0    1  0.22  0.2727  0.80
1  3  2011-01-01    1  0    1    2    0  6    0    1  0.22  0.2727  0.80
2  4  2011-01-01    1  0    1    3    0  6    0    1  0.24  0.2879  0.75
3  5  2011-01-01    1  0    1    4    0  6    0    1  0.24  0.2879  0.75
4  6  2011-01-01    1  0    1    5    0  6    0    2  0.24  0.2576  0.75

      0.4  3  13  16
0  0.0000  8  32  40
1  0.0000  5  27  32
2  0.0000  3  10  13
3  0.0000  0   1   1
4  0.0896  0   1   1

   instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1   0        0        6           0
1        2  2011-01-01       1   0     1   1        0        6           0
2        3  2011-01-01       1   0     1   2        0        6           0
3        4  2011-01-01       1   0     1   3        0        6           0
4        5  2011-01-01       1   0     1   4        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0           1  0.24  0.2879  0.81        0.0       3          13   16
1           1  0.22  0.2727  0.80        0.0       8          32   40
2           1  0.22  0.2727  0.80        0.0       5          27   32
3           1  0.24  0.2879  0.75        0.0       3          10   13
4           1  0.24  0.2879  0.75        0.0       0           1    1

?:
ANSWER: Case 1 treats headings as just another data row. Case 2 treats the 1st data row as the column header. Case 3 gets the header right (row 0), but reads each row as a single column (Nb. the other two make that same mistake).

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [7]:
#ANSWER:
bikes = pd.read_csv('bikeshare.csv')
bikes

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
5,6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,0,1,1
6,7,2011-01-01,1,0,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2,0,2
7,8,2011-01-01,1,0,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,1,2,3
8,9,2011-01-01,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,1,7,8
9,10,2011-01-01,1,0,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,8,6,14
10,11,2011-01-01,1,0,1,10,0,6,0,1,0.38,0.3939,0.76,0.2537,12,24,36
11,12,2011-01-01,1,0,1,11,0,6,0,1,0.36,0.3333,0.81,0.2836,26,30,56
12,13,2011-01-01,1,0,1,12,0,6,0,1,0.42,0.4242,0.77,0.2836,29,55,84
13,14,2011-01-01,1,0,1,13,0,6,0,2,0.46,0.4545,0.72,0.2985,47,47,94
14,15,2011-01-01,1,0,1,14,0,6,0,2,0.46,0.4545,0.72,0.2836,35,71,106
15,16,2011-01-01,1,0,1,15,0,6,0,2,0.44,0.4394,0.77,0.2985,40,70,110
16,17,2011-01-01,1,0,1,16,0,6,0,2,0.42,0.4242,0.82,0.2985,41,52,93
17,18,2011-01-01,1,0,1,17,0,6,0,2,0.44,0.4394,0.82,0.2836,15,52,67
18,19,2011-01-01,1,0,1,18,0,6,0,3,0.42,0.4242,0.88,0.2537,9,26,35
19,20,2011-01-01,1,0,1,19,0,6,0,3,0.42,0.4242,0.88,0.2537,6,31,37
20,21,2011-01-01,1,0,1,20,0,6,0,2,0.40,0.4091,0.87,0.2537,11,25,36
21,22,2011-01-01,1,0,1,21,0,6,0,2,0.40,0.4091,0.87,0.1940,3,31,34
22,23,2011-01-01,1,0,1,22,0,6,0,2,0.40,0.4091,0.94,0.2239,11,17,28
23,24,2011-01-01,1,0,1,23,0,6,0,2,0.46,0.4545,0.88,0.2985,15,24,39
24,25,2011-01-02,1,0,1,0,0,0,0,2,0.46,0.4545,0.88,0.2985,4,13,17
25,26,2011-01-02,1,0,1,1,0,0,0,2,0.44,0.4394,0.94,0.2537,1,16,17
26,27,2011-01-02,1,0,1,2,0,0,0,2,0.42,0.4242,1.00,0.2836,1,8,9
27,28,2011-01-02,1,0,1,3,0,0,0,2,0.46,0.4545,0.94,0.1940,2,4,6
28,29,2011-01-02,1,0,1,4,0,0,0,2,0.46,0.4545,0.94,0.1940,2,1,3
29,30,2011-01-02,1,0,1,6,0,0,0,3,0.42,0.4242,0.77,0.2985,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17349,17350,2012-12-30,1,1,12,18,0,0,0,2,0.24,0.2121,0.44,0.2985,12,113,125
17350,17351,2012-12-30,1,1,12,19,0,0,0,1,0.34,0.3636,0.61,0.0000,16,86,102
17351,17352,2012-12-30,1,1,12,20,0,0,0,1,0.22,0.1970,0.47,0.3284,9,63,72
17352,17353,2012-12-30,1,1,12,21,0,0,0,1,0.20,0.2121,0.51,0.1642,5,42,47
17353,17354,2012-12-30,1,1,12,22,0,0,0,1,0.20,0.1970,0.55,0.1940,6,30,36
17354,17355,2012-12-30,1,1,12,23,0,0,0,1,0.20,0.1970,0.51,0.2239,10,39,49
17355,17356,2012-12-31,1,1,12,0,0,1,1,1,0.18,0.1818,0.55,0.1940,4,30,34
17356,17357,2012-12-31,1,1,12,1,0,1,1,1,0.18,0.1818,0.55,0.1940,6,13,19
17357,17358,2012-12-31,1,1,12,2,0,1,1,1,0.16,0.1667,0.59,0.1642,3,8,11
17358,17359,2012-12-31,1,1,12,3,0,1,1,1,0.16,0.1818,0.59,0.1045,0,1,1
17359,17360,2012-12-31,1,1,12,4,0,1,1,1,0.14,0.1667,0.69,0.1045,0,3,3
17360,17361,2012-12-31,1,1,12,5,0,1,1,1,0.16,0.1515,0.64,0.1940,0,9,9
17361,17362,2012-12-31,1,1,12,6,0,1,1,1,0.16,0.1667,0.64,0.1642,0,40,40
17362,17363,2012-12-31,1,1,12,7,0,1,1,1,0.16,0.1818,0.64,0.1343,2,83,85
17363,17364,2012-12-31,1,1,12,8,0,1,1,1,0.14,0.1515,0.69,0.1343,9,187,196
17364,17365,2012-12-31,1,1,12,9,0,1,1,2,0.18,0.2121,0.64,0.1045,13,144,157
17365,17366,2012-12-31,1,1,12,10,0,1,1,2,0.20,0.2121,0.69,0.1343,33,87,120
17366,17367,2012-12-31,1,1,12,11,0,1,1,2,0.22,0.2273,0.60,0.1940,43,114,157
17367,17368,2012-12-31,1,1,12,12,0,1,1,2,0.24,0.2273,0.56,0.1940,52,172,224
17368,17369,2012-12-31,1,1,12,13,0,1,1,2,0.26,0.2576,0.44,0.1642,38,165,203
17369,17370,2012-12-31,1,1,12,14,0,1,1,2,0.28,0.2727,0.45,0.2239,62,185,247
17370,17371,2012-12-31,1,1,12,15,0,1,1,2,0.28,0.2879,0.45,0.1343,69,246,315
17371,17372,2012-12-31,1,1,12,16,0,1,1,2,0.26,0.2576,0.48,0.1940,30,184,214
17372,17373,2012-12-31,1,1,12,17,0,1,1,2,0.26,0.2879,0.48,0.0896,14,150,164
17373,17374,2012-12-31,1,1,12,18,0,1,1,2,0.26,0.2727,0.48,0.1343,10,112,122
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [12]:
bikes_r = pd.read_table('bikeshare.csv')
bikes_r

/Users/sangdonlee/opt/anaconda3/envs/python37-2/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

      instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0      1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
1      2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
2      3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
3      4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
4      5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...
5      6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,...
6      7,2011-01-01,1,0,1,6,0,6,0,1,0.22,0.2727,0.8,0...
7      8,2011-01-01,1,0,1,7,0,6,0,1,0.2,0.2576,0.86,0...
8      9,2011-01-01,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,...
9      10,2011-01-01,1,0,1,9,0,6,0,1,0.32,0.3485,0.76...
10     11,2011-01-01,1,0,1,10,0,6,0,1,0.38,0.3939,0.7...
11     12,2011-01-01,1,0,1,11,0,6,0,1,0.36,0.3333,0.8...
12     13,2011-01-01,1,0,1,12,0,6,0,1,0.42,0.4242,0.7...
13     14,2011-01-01,1,0,1,13,0,6,0,2,0.46,0.4545,0.7...
14     15,2011-01-01,1,0,1,14,0,6,0,2,0.46,0.4545,0.7...
15     16,2011-01-01,1,0,1,15,0,6,0,2,0.44,0.4394,0.7...
16     17,2011-01-01,1,0,1,16,0,6,0,2,0.42,0.4242,0.8...
17     18,2011-01-01,1,0,1,17,0,6,0,2,0.44,0.4394,0.8...
18     19,2011-01-01,1,0,1,18,0,6,0,3,0.42,0.4242,0.8...
19     20,2011-01-01,1,0,1,19,0,6,0,3,0.42,0.4242,0.8...
20     21,2011-01-01,1,0,1,20,0,6,0,2,0.4,0.4091,0.87...
21     22,2011-01-01,1,0,1,21,0,6,0,2,0.4,0.4091,0.87...
22     23,2011-01-01,1,0,1,22,0,6,0,2,0.4,0.4091,0.94...
23     24,2011-01-01,1,0,1,23,0,6,0,2,0.46,0.4545,0.8...
24     25,2011-01-02,1,0,1,0,0,0,0,2,0.46,0.4545,0.88...
25     26,2011-01-02,1,0,1,1,0,0,0,2,0.44,0.4394,0.94...
26     27,2011-01-02,1,0,1,2,0,0,0,2,0.42,0.4242,1,0....
27     28,2011-01-02,1,0,1,3,0,0,0,2,0.46,0.4545,0.94...
28     29,2011-01-02,1,0,1,4,0,0,0,2,0.46,0.4545,0.94...
29     30,2011-01-02,1,0,1,6,0,0,0,3,0.42,0.4242,0.77...
...                                                  ...
17349  17350,2012-12-30,1,1,12,18,0,0,0,2,0.24,0.2121...
17350  17351,2012-12-30,1,1,12,19,0,0,0,1,0.34,0.3636...
17351  17352,2012-12-30,1,1,12,20,0,0,0,1,0.22,0.197,...
17352  17353,2012-12-30,1,1,12,21,0,0,0,1,0.2,0.2121,...
17353  17354,2012-12-30,1,1,12,22,0,0,0,1,0.2,0.197,0...
17354  17355,2012-12-30,1,1,12,23,0,0,0,1,0.2,0.197,0...
17355  17356,2012-12-31,1,1,12,0,0,1,1,1,0.18,0.1818,...
17356  17357,2012-12-31,1,1,12,1,0,1,1,1,0.18,0.1818,...
17357  17358,2012-12-31,1,1,12,2,0,1,1,1,0.16,0.1667,...
17358  17359,2012-12-31,1,1,12,3,0,1,1,1,0.16,0.1818,...
17359  17360,2012-12-31,1,1,12,4,0,1,1,1,0.14,0.1667,...
17360  17361,2012-12-31,1,1,12,5,0,1,1,1,0.16,0.1515,...
17361  17362,2012-12-31,1,1,12,6,0,1,1,1,0.16,0.1667,...
17362  17363,2012-12-31,1,1,12,7,0,1,1,1,0.16,0.1818,...
17363  17364,2012-12-31,1,1,12,8,0,1,1,1,0.14,0.1515,...
17364  17365,2012-12-31,1,1,12,9,0,1,1,2,0.18,0.2121,...
17365  17366,2012-12-31,1,1,12,10,0,1,1,2,0.2,0.2121,...
17366  17367,2012-12-31,1,1,12,11,0,1,1,2,0.22,0.2273...
17367  17368,2012-12-31,1,1,12,12,0,1,1,2,0.24,0.2273...
17368  17369,2012-12-31,1,1,12,13,0,1,1,2,0.26,0.2576...
17369  17370,2012-12-31,1,1,12,14,0,1,1,2,0.28,0.2727...
17370  17371,2012-12-31,1,1,12,15,0,1,1,2,0.28,0.2879...
17371  17372,2012-12-31,1,1,12,16,0,1,1,2,0.26,0.2576...
17372  17373,2012-12-31,1,1,12,17,0,1,1,2,0.26,0.2879...
17373  17374,2012-12-31,1,1,12,18,0,1,1,2,0.26,0.2727...
17374  17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576...
17375  17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576...
17376  17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576...
17377  17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727...
17378  17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727...

[17379 rows x 1 columns]

Note that we could have used `read.csv()` above. When is `read_table()` necessary?

?:
ANSWER: When `sep` is not the comma character, or we need fine control that `read.csv()` does not provide.

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects 
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be delth with by correctly specifying the parameters of the function you use to load the file. Read the doco before reading the data!

### Reading Excel Files

In [20]:
!pip install xlrd

Requirement already satisfied: xlrd in /Users/sangdonlee/opt/anaconda3/lib/python3.7/site-packages (1.2.0)

In [8]:
from pandas import ExcelFile  # Nb. Need to install xlrd from conda (it does not automatically install with pandas)

In [12]:
df = pd.read_excel('Iris.xls', sheet_name = 'Data')
df

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
5,1,0.4,1.7,3.9,5.4,Setosa
6,1,0.3,1.4,3.4,4.6,Setosa
7,1,0.2,1.5,3.4,5.0,Setosa
8,1,0.2,1.4,2.9,4.4,Setosa
9,1,0.1,1.5,3.1,4.9,Setosa
10,1,0.2,1.5,3.7,5.4,Setosa
11,1,0.2,1.6,3.4,4.8,Setosa
12,1,0.1,1.4,3.0,4.8,Setosa
13,1,0.1,1.1,3.0,4.3,Setosa
14,1,0.2,1.2,4.0,5.8,Setosa
15,1,0.4,1.5,4.4,5.7,Setosa
16,1,0.4,1.3,3.9,5.4,Setosa
17,1,0.3,1.4,3.5,5.1,Setosa
18,1,0.3,1.7,3.8,5.7,Setosa
19,1,0.3,1.5,3.8,5.1,Setosa
20,1,0.2,1.7,3.4,5.4,Setosa
21,1,0.4,1.5,3.7,5.1,Setosa
22,1,0.2,1.0,3.6,4.6,Setosa
23,1,0.5,1.7,3.3,5.1,Setosa
24,1,0.2,1.9,3.4,4.8,Setosa
25,1,0.2,1.6,3.0,5.0,Setosa
26,1,0.4,1.6,3.4,5.0,Setosa
27,1,0.2,1.5,3.5,5.2,Setosa
28,1,0.2,1.4,3.4,5.2,Setosa
29,1,0.2,1.6,3.2,4.7,Setosa
...,...,...,...,...,...,...
120,3,2.3,5.7,3.2,6.9,Verginica
121,3,2.0,4.9,2.8,5.6,Verginica
122,3,2.0,6.7,2.8,7.7,Verginica
123,3,1.8,4.9,2.7,6.3,Verginica
124,3,2.1,5.7,3.3,6.7,Verginica
125,3,1.8,6.0,3.2,7.2,Verginica
126,3,1.8,4.8,2.8,6.2,Verginica
127,3,1.8,4.9,3.0,6.1,Verginica
128,3,2.1,5.6,2.8,6.4,Verginica
129,3,1.6,5.8,3.0,7.2,Verginica
130,3,1.9,6.1,2.8,7.4,Verginica
131,3,2.0,6.4,3.8,7.9,Verginica
132,3,2.2,5.6,2.8,6.4,Verginica
133,3,1.5,5.1,2.8,6.3,Verginica
134,3,1.4,5.6,2.6,6.1,Verginica
135,3,2.3,6.1,3.0,7.7,Verginica
136,3,2.4,5.6,3.4,6.3,Verginica
137,3,1.8,5.5,3.1,6.4,Verginica
138,3,1.8,4.8,3.0,6.0,Verginica
139,3,2.1,5.4,3.1,6.9,Verginica
140,3,2.4,5.6,3.1,6.7,Verginica
141,3,2.3,5.1,3.1,6.9,Verginica
142,3,1.9,5.1,2.7,5.8,Verginica
143,3,2.3,5.9,3.2,6.8,Verginica
144,3,2.5,5.7,3.3,6.7,Verginica
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

So, this file appears to have an embedded table of aggregates on the same sheet as the raw data (a naughty but common practice amongst analysts).

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For ecxample, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

Load the above file without the unwanted columns:

In [24]:
#ANSWER
df_header = pd.read_excel('Iris.xls', header=0, sheet_name = 'Data')
df_header

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
5,1,0.4,1.7,3.9,5.4,Setosa
6,1,0.3,1.4,3.4,4.6,Setosa
7,1,0.2,1.5,3.4,5.0,Setosa
8,1,0.2,1.4,2.9,4.4,Setosa
9,1,0.1,1.5,3.1,4.9,Setosa
10,1,0.2,1.5,3.7,5.4,Setosa
11,1,0.2,1.6,3.4,4.8,Setosa
12,1,0.1,1.4,3.0,4.8,Setosa
13,1,0.1,1.1,3.0,4.3,Setosa
14,1,0.2,1.2,4.0,5.8,Setosa
15,1,0.4,1.5,4.4,5.7,Setosa
16,1,0.4,1.3,3.9,5.4,Setosa
17,1,0.3,1.4,3.5,5.1,Setosa
18,1,0.3,1.7,3.8,5.7,Setosa
19,1,0.3,1.5,3.8,5.1,Setosa
20,1,0.2,1.7,3.4,5.4,Setosa
21,1,0.4,1.5,3.7,5.1,Setosa
22,1,0.2,1.0,3.6,4.6,Setosa
23,1,0.5,1.7,3.3,5.1,Setosa
24,1,0.2,1.9,3.4,4.8,Setosa
25,1,0.2,1.6,3.0,5.0,Setosa
26,1,0.4,1.6,3.4,5.0,Setosa
27,1,0.2,1.5,3.5,5.2,Setosa
28,1,0.2,1.4,3.4,5.2,Setosa
29,1,0.2,1.6,3.2,4.7,Setosa
...,...,...,...,...,...,...
120,3,2.3,5.7,3.2,6.9,Verginica
121,3,2.0,4.9,2.8,5.6,Verginica
122,3,2.0,6.7,2.8,7.7,Verginica
123,3,1.8,4.9,2.7,6.3,Verginica
124,3,2.1,5.7,3.3,6.7,Verginica
125,3,1.8,6.0,3.2,7.2,Verginica
126,3,1.8,4.8,2.8,6.2,Verginica
127,3,1.8,4.9,3.0,6.1,Verginica
128,3,2.1,5.6,2.8,6.4,Verginica
129,3,1.6,5.8,3.0,7.2,Verginica
130,3,1.9,6.1,2.8,7.4,Verginica
131,3,2.0,6.4,3.8,7.9,Verginica
132,3,2.2,5.6,2.8,6.4,Verginica
133,3,1.5,5.1,2.8,6.3,Verginica
134,3,1.4,5.6,2.6,6.1,Verginica
135,3,2.3,6.1,3.0,7.7,Verginica
136,3,2.4,5.6,3.4,6.3,Verginica
137,3,1.8,5.5,3.1,6.4,Verginica
138,3,1.8,4.8,3.0,6.0,Verginica
139,3,2.1,5.4,3.1,6.9,Verginica
140,3,2.4,5.6,3.1,6.7,Verginica
141,3,2.3,5.1,3.1,6.9,Verginica
142,3,1.9,5.1,2.7,5.8,Verginica
143,3,2.3,5.9,3.2,6.8,Verginica
144,3,2.5,5.7,3.3,6.7,Verginica
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

In [27]:
# don't include the column A: Species_No
df_spec_col = pd.read_excel('Iris.xls', header=0, sheet_name = 'Data', usecols='B:F')
df_spec_col

     Petal_width  Petal_length  Sepal_width  Sepal_length Species_name
0            0.2           1.4          3.5           5.1       Setosa
1            0.2           1.4          3.0           4.9       Setosa
2            0.2           1.3          3.2           4.7       Setosa
3            0.2           1.5          3.1           4.6       Setosa
4            0.2           1.4          3.6           5.0       Setosa
5            0.4           1.7          3.9           5.4       Setosa
6            0.3           1.4          3.4           4.6       Setosa
7            0.2           1.5          3.4           5.0       Setosa
8            0.2           1.4          2.9           4.4       Setosa
9            0.1           1.5          3.1           4.9       Setosa
10           0.2           1.5          3.7           5.4       Setosa
11           0.2           1.6          3.4           4.8       Setosa
12           0.1           1.4          3.0           4.8       Setosa
13           0.1           1.1          3.0           4.3       Setosa
14           0.2           1.2          4.0           5.8       Setosa
15           0.4           1.5          4.4           5.7       Setosa
16           0.4           1.3          3.9           5.4       Setosa
17           0.3           1.4          3.5           5.1       Setosa
18           0.3           1.7          3.8           5.7       Setosa
19           0.3           1.5          3.8           5.1       Setosa
20           0.2           1.7          3.4           5.4       Setosa
21           0.4           1.5          3.7           5.1       Setosa
22           0.2           1.0          3.6           4.6       Setosa
23           0.5           1.7          3.3           5.1       Setosa
24           0.2           1.9          3.4           4.8       Setosa
25           0.2           1.6          3.0           5.0       Setosa
26           0.4           1.6          3.4           5.0       Setosa
27           0.2           1.5          3.5           5.2       Setosa
28           0.2           1.4          3.4           5.2       Setosa
29           0.2           1.6          3.2           4.7       Setosa
..           ...           ...          ...           ...          ...
120          2.3           5.7          3.2           6.9    Verginica
121          2.0           4.9          2.8           5.6    Verginica
122          2.0           6.7          2.8           7.7    Verginica
123          1.8           4.9          2.7           6.3    Verginica
124          2.1           5.7          3.3           6.7    Verginica
125          1.8           6.0          3.2           7.2    Verginica
126          1.8           4.8          2.8           6.2    Verginica
127          1.8           4.9          3.0           6.1    Verginica
128          2.1           5.6          2.8           6.4    Verginica
129          1.6           5.8          3.0           7.2    Verginica
130          1.9           6.1          2.8           7.4    Verginica
131          2.0           6.4          3.8           7.9    Verginica
132          2.2           5.6          2.8           6.4    Verginica
133          1.5           5.1          2.8           6.3    Verginica
134          1.4           5.6          2.6           6.1    Verginica
135          2.3           6.1          3.0           7.7    Verginica
136          2.4           5.6          3.4           6.3    Verginica
137          1.8           5.5          3.1           6.4    Verginica
138          1.8           4.8          3.0           6.0    Verginica
139          2.1           5.4          3.1           6.9    Verginica
140          2.4           5.6          3.1           6.7    Verginica
141          2.3           5.1          3.1           6.9    Verginica
142          1.9           5.1          2.7           5.8    Verginica
143          2.3           5.9          3.2           6.8    Verginica
144          2.5           5.7          3.3           6.7    Verginica
145          2.3           5.2          3.0           6.7    Verginica
146          1.9           5.0          2.5           6.3    Verginica
147          2.0           5.2          3.0           6.5    Verginica
148          2.3           5.4          3.4           6.2    Verginica
149          1.8           5.1          3.0           5.9    Verginica

[150 rows x 5 columns]

In [34]:
#skip row 1,2
df_skip_row = pd.read_excel('Iris.xls', header=0, sheet_name='Data', skiprows = range(1,3))
df_skip_row

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.3,3.2,4.7,Setosa
1,1,0.2,1.5,3.1,4.6,Setosa
2,1,0.2,1.4,3.6,5.0,Setosa
3,1,0.4,1.7,3.9,5.4,Setosa
4,1,0.3,1.4,3.4,4.6,Setosa
5,1,0.2,1.5,3.4,5.0,Setosa
6,1,0.2,1.4,2.9,4.4,Setosa
7,1,0.1,1.5,3.1,4.9,Setosa
8,1,0.2,1.5,3.7,5.4,Setosa
9,1,0.2,1.6,3.4,4.8,Setosa
10,1,0.1,1.4,3.0,4.8,Setosa
11,1,0.1,1.1,3.0,4.3,Setosa
12,1,0.2,1.2,4.0,5.8,Setosa
13,1,0.4,1.5,4.4,5.7,Setosa
14,1,0.4,1.3,3.9,5.4,Setosa
15,1,0.3,1.4,3.5,5.1,Setosa
16,1,0.3,1.7,3.8,5.7,Setosa
17,1,0.3,1.5,3.8,5.1,Setosa
18,1,0.2,1.7,3.4,5.4,Setosa
19,1,0.4,1.5,3.7,5.1,Setosa
20,1,0.2,1.0,3.6,4.6,Setosa
21,1,0.5,1.7,3.3,5.1,Setosa
22,1,0.2,1.9,3.4,4.8,Setosa
23,1,0.2,1.6,3.0,5.0,Setosa
24,1,0.4,1.6,3.4,5.0,Setosa
25,1,0.2,1.5,3.5,5.2,Setosa
26,1,0.2,1.4,3.4,5.2,Setosa
27,1,0.2,1.6,3.2,4.7,Setosa
28,1,0.2,1.6,3.1,4.8,Setosa
29,1,0.4,1.5,3.4,5.4,Setosa
...,...,...,...,...,...,...
118,3,2.3,5.7,3.2,6.9,Verginica
119,3,2.0,4.9,2.8,5.6,Verginica
120,3,2.0,6.7,2.8,7.7,Verginica
121,3,1.8,4.9,2.7,6.3,Verginica
122,3,2.1,5.7,3.3,6.7,Verginica
123,3,1.8,6.0,3.2,7.2,Verginica
124,3,1.8,4.8,2.8,6.2,Verginica
125,3,1.8,4.9,3.0,6.1,Verginica
126,3,2.1,5.6,2.8,6.4,Verginica
127,3,1.6,5.8,3.0,7.2,Verginica
128,3,1.9,6.1,2.8,7.4,Verginica
129,3,2.0,6.4,3.8,7.9,Verginica
130,3,2.2,5.6,2.8,6.4,Verginica
131,3,1.5,5.1,2.8,6.3,Verginica
132,3,1.4,5.6,2.6,6.1,Verginica
133,3,2.3,6.1,3.0,7.7,Verginica
134,3,2.4,5.6,3.4,6.3,Verginica
135,3,1.8,5.5,3.1,6.4,Verginica
136,3,1.8,4.8,3.0,6.0,Verginica
137,3,2.1,5.4,3.1,6.9,Verginica
138,3,2.4,5.6,3.1,6.7,Verginica
139,3,2.3,5.1,3.1,6.9,Verginica
140,3,1.9,5.1,2.7,5.8,Verginica
141,3,2.3,5.9,3.2,6.8,Verginica
142,3,2.5,5.7,3.3,6.7,Verginica
143,3,2.3,5.2,3.0,6.7,Verginica
144,3,1.9,5.0,2.5,6.3,Verginica
145,3,2.0,5.2,3.0,6.5,Verginica
146,3,2.3,5.4,3.4,6.2,Verginica
147,3,1.8,5.1,3.0,5.9,Verginica

In [42]:
# skipfooter from header 15 - skipfooter 130, total row 150, start from header 15 and remove rest 134 rows 
# that only returns 1 row at header 15 
df_skip_footer = pd.read_excel('Iris.xls', header=15, sheet_name='Data', skipfooter=134)
df_skip_footer

   1  0.2  1.2    4  5.8   Setosa
0  1  0.4  1.5  4.4  5.7   Setosa

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [43]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2020-07-05T09:39:47.375Z,9.8744,-84.3523,10,4.3,mb,NaN,154,0.269,1.13,...,2020-07-05T10:27:06.259Z,"5 km NW of Santiago, Costa Rica",earthquake,6.3,2,0.075,50,reviewed,us,us

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [45]:
!pip install it

Collecting it
  Downloading it-1.0.0.tar.gz (14 kB)
Building wheels for collected packages: it
  Building wheel for it (setup.py) ... done
  Created wheel for it: filename=it-1.0.0-py2.py3-none-any.whl size=17279 sha256=ed10e35eb118160da64725ca99d06e33596ed9da91e0360d7cb80d00091bc37a
  Stored in directory: /Users/sangdonlee/Library/Caches/pip/wheels/c0/80/7f/acd16a5df9cbe332efc78d6371db62c8f78e683ee31c7cc06a
Successfully built it
Installing collected packages: it
Successfully installed it-1.0.0

In [48]:
!pip install lxml

Collecting lxml
  Downloading lxml-4.5.1-cp37-cp37m-macosx_10_9_x86_64.whl (4.4 MB)
     |████████████████████████████████| 4.4 MB 1.9 MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.5.1

In [4]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'
df = pd.read_html(url)

df

[                                             Bank Name                City  \
 0                                 The First State Bank       Barboursville
 1                                   Ericson State Bank             Ericson
 2                     City National Bank of New Jersey              Newark
 3                                        Resolute Bank              Maumee
 4                                Louisa Community Bank              Louisa
 5                                 The Enloe State Bank              Cooper
 6                  Washington Federal Bank for Savings             Chicago
 7      The Farmers and Merchants State Bank of Argonia             Argonia
 8                                  Fayette County Bank          Saint Elmo
 9    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
 10                                      First NBC Bank         New Orleans
 11                                       Proficio Bank  Cottonwood Heights
 12                       Seaway Bank and Trust Company             Chicago
 13                              Harvest Community Bank          Pennsville
 14                                         Allied Bank            Mulberry
 15                        The Woodbury Banking Company            Woodbury
 16                              First CornerStone Bank     King of Prussia
 17                                  Trust Company Bank             Memphis
 18                          North Milwaukee State Bank           Milwaukee
 19                              Hometown National Bank            Longview
 20                                 The Bank of Georgia      Peachtree City
 21                                        Premier Bank              Denver
 22                                      Edgebrook Bank             Chicago
 23                              Doral Bank  En Español            San Juan
 24                   Capitol City Bank & Trust Company             Atlanta
 25                             Highland Community Bank             Chicago
 26                    First National Bank of Crestview           Crestview
 27                                  Northern Star Bank             Mankato
 28              Frontier Bank, FSB D/B/A El Paseo Bank         Palm Desert
 29               The National Republic Bank of Chicago             Chicago
 ..                                                 ...                 ...
 531                                  ANB Financial, NA         Bentonville
 532                                          Hume Bank                Hume
 533                             Douglass National Bank         Kansas City
 534                                  Miami Valley Bank            Lakeview
 535                                            NetBank          Alpharetta
 536                          Metropolitan Savings Bank          Pittsburgh
 537                                    Bank of Ephraim             Ephraim
 538                                      Reliance Bank        White Plains
 539              Guaranty National Bank of Tallahassee         Tallahassee
 540                                Dollar Savings Bank              Newark
 541                               Pulaski Savings Bank        Philadelphia
 542              First National Bank of Blanchardville      Blanchardville
 543                              Southern Pacific Bank            Torrance
 544                        Farmers Bank of Cheneyville         Cheneyville
 545                                      Bank of Alamo               Alamo
 546             AmTrade International Bank  En Español             Atlanta
 547                     Universal Federal Savings Bank             Chicago
 548                       Connecticut Bank of Commerce            Stamford
 549                                   New Century Bank     Shelby Township
 550                              Net 1st National Bank          Boca Raton
 551                                       NextBank, NA             Phoenix
 552                           Oakwood Deposit Bank Co.             Oakwood
 553                              Bank of Sierra Blanca       Sierra Blanca
 554                      Hamilton Bank, NA  En Español               Miami
 555                             Sinclair National Bank            Gravette
 556                                 Superior Bank, FSB            Hinsdale
 557                                Malta National Bank               Malta
 558                    First Alliance Bank & Trust Co.          Manchester
 559                  National State Bank of Metropolis          Metropolis
 560                                   Bank of Honolulu            Honolulu

      ST   CERT                Acquiring Institution        Closing Date
 0    WV  14361                       MVB Bank, Inc.       April 3, 2020
 1    NE  18265           Farmers and Merchants Bank   February 14, 2020
 2    NJ  21111                      Industrial Bank    November 1, 2019
 3    OH  58317                   Buckeye State Bank    October 25, 2019
 4    KY  58112    Kentucky Farmers Bank Corporation    October 25, 2019
 5    TX  10716                   Legend Bank, N. A.        May 31, 2019
 6    IL  30570                   Royal Savings Bank   December 15, 2017
 7    KS  17719                          Conway Bank    October 13, 2017
 8    IL   1802            United Fidelity Bank, fsb        May 26, 2017
 9    WI  30003  First-Citizens Bank & Trust Company         May 5, 2017
 10   LA  58302                         Whitney Bank      April 28, 2017
 11   UT  35495                    Cache Valley Bank       March 3, 2017
 12   IL  19328                  State Bank of Texas    January 27, 2017
 13   NJ  34951  First-Citizens Bank & Trust Company    January 13, 2017
 14   AR     91                         Today's Bank  September 23, 2016
 15   GA  11297                          United Bank     August 19, 2016
 16   PA  35312  First-Citizens Bank & Trust Company         May 6, 2016
 17   TN   9956           The Bank of Fayette County      April 29, 2016
 18   WI  20364  First-Citizens Bank & Trust Company      March 11, 2016
 19   WA  35156                       Twin City Bank     October 2, 2015
 20   GA  35259                        Fidelity Bank     October 2, 2015
 21   CO  34112            United Fidelity Bank, fsb       July 10, 2015
 22   IL  57772             Republic Bank of Chicago         May 8, 2015
 23   PR  32102         Banco Popular de Puerto Rico   February 27, 2015
 24   GA  33938  First-Citizens Bank & Trust Company   February 13, 2015
 25   IL  20290            United Fidelity Bank, fsb    January 23, 2015
 26   FL  17557                       First NBC Bank    January 16, 2015
 27   MN  34983                            BankVista   December 19, 2014
 28   CA  34738    Bank of Southern California, N.A.    November 7, 2014
 29   IL    916                  State Bank of Texas    October 24, 2014
 ..   ..    ...                                  ...                 ...
 531  AR  33901       Pulaski Bank and Trust Company         May 9, 2008
 532  MO   1971                        Security Bank       March 7, 2008
 533  MO  24660       Liberty Bank and Trust Company    January 25, 2008
 534  OH  16848         The Citizens Banking Company     October 4, 2007
 535  GA  32575                           ING DIRECT  September 28, 2007
 536  PA  35353  Allegheny Valley Bank of Pittsburgh    February 2, 2007
 537  UT   1249                        Far West Bank       June 25, 2004
 538  NY  26778                     Union State Bank      March 19, 2004
 539  FL  26838              Hancock Bank of Florida      March 12, 2004
 540  NJ  31330                          No Acquirer   February 14, 2004
 541  PA  27203                       Earthstar Bank   November 14, 2003
 542  WI  11639                        The Park Bank         May 9, 2003
 543  CA  27094                            Beal Bank    February 7, 2003
 544  LA  16445            Sabine State Bank & Trust   December 17, 2002
 545  TN   9961                          No Acquirer    November 8, 2002
 546  GA  33784                          No Acquirer  September 30, 2002
 547  IL  29355               Chicago Community Bank       June 27, 2002
 548  CT  19183                   Hudson United Bank       June 26, 2002
 549  MI  34979                          No Acquirer      March 28, 2002
 550  FL  26652                       Bank Leumi USA       March 1, 2002
 551  AZ  22314                          No Acquirer    February 7, 2002
 552  OH   8966       The State Bank & Trust Company    February 1, 2002
 553  TX  22002     The Security State Bank of Pecos    January 18, 2002
 554  FL  24382     Israel Discount Bank of New York    January 11, 2002
 555  AR  34248                   Delta Trust & Bank   September 7, 2001
 556  IL  32646                Superior Federal, FSB       July 27, 2001
 557  OH   6629                    North Valley Bank         May 3, 2001
 558  NH  34264  Southern New Hampshire Bank & Trust    February 2, 2001
 559  IL   3815              Banterra Bank of Marion   December 14, 2000
 560  HI  21029                   Bank of the Orient    October 13, 2000

 [561 rows x 6 columns]]

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here is an example that includes a nice parser class: http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

#### Importing JSON Files from the Web

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [55]:
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

    integer            datetime  category
0         5 2015-01-01 00:00:00         0
1         5 2015-01-01 00:00:01         0
10        5 2015-01-01 00:00:10         0
11        5 2015-01-01 00:00:11         0
12        8 2015-01-01 00:00:12         0

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [15]:
#ANSWER
bikes.shape

(17379, 17)

What are the column names in `bikes`?

In [16]:
#ANSWER
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

What are the data types of these columns?

In [19]:
#ANSWER
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

What is the (row) index for this DataFrame?

In [21]:
#ANSWER
bikes.index

RangeIndex(start=0, stop=17379, step=1)

https://www.dataquest.io/blog/python-json-tutorial/

## Slicing and Dicing

It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this. 
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [22]:
#ANSWER
bikes['season']

0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       1
        ..
17349    1
17350    1
17351    1
17352    1
17353    1
17354    1
17355    1
17356    1
17357    1
17358    1
17359    1
17360    1
17361    1
17362    1
17363    1
17364    1
17365    1
17366    1
17367    1
17368    1
17369    1
17370    1
17371    1
17372    1
17373    1
17374    1
17375    1
17376    1
17377    1
17378    1
Name: season, Length: 17379, dtype: int64

In [23]:
bikes[['season']]

       season
0           1
1           1
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          1
11          1
12          1
13          1
14          1
15          1
16          1
17          1
18          1
19          1
20          1
21          1
22          1
23          1
24          1
25          1
26          1
27          1
28          1
29          1
...       ...
17349       1
17350       1
17351       1
17352       1
17353       1
17354       1
17355       1
17356       1
17357       1
17358       1
17359       1
17360       1
17361       1
17362       1
17363       1
17364       1
17365       1
17366       1
17367       1
17368       1
17369       1
17370       1
17371       1
17372       1
17373       1
17374       1
17375       1
17376       1
17377       1
17378       1

[17379 rows x 1 columns]

How would we use object notation to show the first 4 rows of `atemp`?

In [24]:
#ANSWER
bikes[['atemp']].head(4)

    atemp
0  0.2879
1  0.2727
2  0.2727
3  0.2879

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

In [36]:
bikes[['weathersit']]

       weathersit
0               1
1               1
2               1
3               1
4               1
5               2
6               1
7               1
8               1
9               1
10              1
11              1
12              1
13              2
14              2
15              2
16              2
17              2
18              3
19              3
20              2
21              2
22              2
23              2
24              2
25              2
26              2
27              2
28              2
29              3
...           ...
17349           2
17350           1
17351           1
17352           1
17353           1
17354           1
17355           1
17356           1
17357           1
17358           1
17359           1
17360           1
17361           1
17362           1
17363           1
17364           2
17365           2
17366           2
17367           2
17368           2
17369           2
17370           2
17371           2
17372           2
17373           2
17374           2
17375           2
17376           1
17377           1
17378           1

[17379 rows x 1 columns]

In [37]:
bikes['weathersit']

0        1
1        1
2        1
3        1
4        1
5        2
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       2
14       2
15       2
16       2
17       2
18       3
19       3
20       2
21       2
22       2
23       2
24       2
25       2
26       2
27       2
28       2
29       3
        ..
17349    2
17350    1
17351    1
17352    1
17353    1
17354    1
17355    1
17356    1
17357    1
17358    1
17359    1
17360    1
17361    1
17362    1
17363    1
17364    2
17365    2
17366    2
17367    2
17368    2
17369    2
17370    2
17371    2
17372    2
17373    2
17374    2
17375    2
17376    1
17377    1
17378    1
Name: weathersit, Length: 17379, dtype: int64

In [41]:
bikes[['weathersit','temp']]
#E: bikes[[0,0]]

       weathersit  temp
0               1  0.24
1               1  0.22
2               1  0.22
3               1  0.24
4               1  0.24
5               2  0.24
6               1  0.22
7               1  0.20
8               1  0.24
9               1  0.32
10              1  0.38
11              1  0.36
12              1  0.42
13              2  0.46
14              2  0.46
15              2  0.44
16              2  0.42
17              2  0.44
18              3  0.42
19              3  0.42
20              2  0.40
21              2  0.40
22              2  0.40
23              2  0.46
24              2  0.46
25              2  0.44
26              2  0.42
27              2  0.46
28              2  0.46
29              3  0.42
...           ...   ...
17349           2  0.24
17350           1  0.34
17351           1  0.22
17352           1  0.20
17353           1  0.20
17354           1  0.20
17355           1  0.18
17356           1  0.18
17357           1  0.16
17358           1  0.16
17359           1  0.14
17360           1  0.16
17361           1  0.16
17362           1  0.16
17363           1  0.14
17364           2  0.18
17365           2  0.20
17366           2  0.22
17367           2  0.24
17368           2  0.26
17369           2  0.28
17370           2  0.28
17371           2  0.26
17372           2  0.26
17373           2  0.26
17374           2  0.26
17375           2  0.26
17376           1  0.26
17377           1  0.26
17378           1  0.26

[17379 rows x 2 columns]

What is the correct way to access the 1st row of the DataFrame by its index?

In [8]:
#ANSWER
bikes.iloc[:,1]

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
            ...
17374    2012-12-31
17375    2012-12-31
17376    2012-12-31
17377    2012-12-31
17378    2012-12-31
Name: dteday, Length: 17379, dtype: object

What is the correct way to access the 2nd column of the DataFrame by its index?

In [48]:
#ANSWER
bikes.loc[:, ['weathersit']]

       weathersit
0               1
1               1
2               1
3               1
4               1
5               2
6               1
7               1
8               1
9               1
10              1
11              1
12              1
13              2
14              2
15              2
16              2
17              2
18              3
19              3
20              2
21              2
22              2
23              2
24              2
25              2
26              2
27              2
28              2
29              3
...           ...
17349           2
17350           1
17351           1
17352           1
17353           1
17354           1
17355           1
17356           1
17357           1
17358           1
17359           1
17360           1
17361           1
17362           1
17363           1
17364           2
17365           2
17366           2
17367           2
17368           2
17369           2
17370           2
17371           2
17372           2
17373           2
17374           2
17375           2
17376           1
17377           1
17378           1

[17379 rows x 1 columns]

## Handling Missing Values

What is the Pandas `isnull` function for?

?
ANSWER:

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [49]:
bikes.isnull().head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [52]:
#ANSWER
bikes.isnull().sum(axis=0)

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [54]:
#ANSWER
bikes.isna().any()

instant       False
dteday        False
season        False
yr            False
mnth          False
hr            False
holiday       False
weekday       False
workingday    False
weathersit    False
temp          False
atemp         False
hum           False
windspeed     False
casual        False
registered    False
cnt           False
dtype: bool

What is the Numpy object `nan` used for? (Write a descriptive answer.)

?
ANSWER: Marking a data point as invalid.

Write (and verify) a function that performs scalar division with built-in handling of the edge case (i.e. return a value instead of just trapping the error):

In [97]:
#ANSWER
def scalarDiv(a, b):
    try:
        x = a / b
        return int(x)
    except ZeroDivisionError as err:
        print('Handlin Err: ', err)

scalarDiv(4,2)

2

Apply the Pandas `isna` function to the following data objects:

In [74]:
x = 2.3
y = np.nan
print(x, y)

2.3 nan

In [79]:
#ANSWER
pd.isna(x)

False

In [80]:
pd.isna(y)

True

In [81]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

[[ 1. nan  3.]
 [ 4.  5. nan]]

In [82]:
#ANSWER
pd.isna(array)

array([[False,  True, False],
       [False, False,  True]])

How is the pandas I/O parameter `na_values` used?

? ANSWER: 
to specify missing values relace them with nan

## Data Profiling

### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [99]:
#ANSWER
bikes.season.unique()

array([1, 2, 3, 4])

### Ranges

Print the range of the `instant`, `dteday`, and `windspeed` columns:

In [131]:
#ANSWER
def value_range(df):
    df_max, df_min = df.max(), df.min()
    df_min = df.min()
    return df_min, df_max

value_range(bikes.instant)

(1, 17379)

In [132]:
value_range(bikes.dteday)

('2011-01-01', '2012-12-31')

In [133]:
value_range(bikes.windspeed)

(0.0, 0.8507)

Compute and print the overall minimum and maximum of the numeric data columns:

In [138]:
bikes_min, bikes_max = (min(bikes.min(numeric_only=True)), max(bikes.max(numeric_only=True)))
bikes_min, bikes_max

(0.0, 17379.0)

### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [139]:
bikes['atemp'].quantile(0.5)

0.4848

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [184]:
#ANSWER
print('Quantile from atemp column: \n')
print('10th = {0} \n25th = {1} \n50th = {2} \n75th = {3} \n90th = {4} '
      .format(*bikes['atemp'].quantile((0.1, 0.25, 0.50, 0.75, 0.90))))

Quantile from atemp column:

10th = 0.2424
25th = 0.3333
50th = 0.4848
75th = 0.6212
90th = 0.6970000000000001

### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [185]:
type(bikes['atemp'])

pandas.core.series.Series

In [223]:
bikes.sample(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,atemp_level
13284,13285,2012-07-12,3,1,7,17,0,4,1,1,0.76,0.6818,0.43,0.2239,91,704,795,mild
9924,9925,2012-02-23,1,1,2,13,0,4,1,1,0.52,0.5000,0.39,0.1940,30,188,218,mild
15026,15027,2012-09-23,4,1,9,7,0,0,0,1,0.46,0.4545,0.59,0.2239,9,48,57,mild
4885,4886,2011-07-27,3,0,7,11,0,3,1,1,0.80,0.6970,0.31,0.0000,42,94,136,mild
14412,14413,2012-08-28,3,1,8,17,0,2,1,1,0.80,0.6970,0.35,0.3881,90,774,864,mild

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indcates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [187]:
atemp_level = pd.cut(bikes['atemp'], bins = 4)

What is `atemp_level`?

In [190]:
#ANSWER
type(atemp_level)

pandas.core.series.Series

Here is a random sample of `atemp_level`:

In [189]:
atemp_level.sample(5)

8137        (0.25, 0.5]
540      (-0.001, 0.25]
15825       (0.5, 0.75]
11547       (0.25, 0.5]
16152       (0.25, 0.5]
Name: atemp, dtype: category
Categories (4, interval[float64]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [197]:
atemp_level = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.sample(5)

4190      hot
3251     warm
14404    warm
450      cool
15784    warm
Name: atemp, dtype: category
Categories (4, object): [cool < mild < warm < hot]

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [241]:
bikes

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,atemp_level
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16,mild
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40,mild
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32,mild
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13,mild
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1,mild
5,6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,0,1,1,mild
6,7,2011-01-01,1,0,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2,0,2,mild
7,8,2011-01-01,1,0,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,1,2,3,mild
8,9,2011-01-01,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,1,7,8,mild
9,10,2011-01-01,1,0,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,8,6,14,mild
10,11,2011-01-01,1,0,1,10,0,6,0,1,0.38,0.3939,0.76,0.2537,12,24,36,mild
11,12,2011-01-01,1,0,1,11,0,6,0,1,0.36,0.3333,0.81,0.2836,26,30,56,mild
12,13,2011-01-01,1,0,1,12,0,6,0,1,0.42,0.4242,0.77,0.2836,29,55,84,mild
13,14,2011-01-01,1,0,1,13,0,6,0,2,0.46,0.4545,0.72,0.2985,47,47,94,mild
14,15,2011-01-01,1,0,1,14,0,6,0,2,0.46,0.4545,0.72,0.2836,35,71,106,mild
15,16,2011-01-01,1,0,1,15,0,6,0,2,0.44,0.4394,0.77,0.2985,40,70,110,mild
16,17,2011-01-01,1,0,1,16,0,6,0,2,0.42,0.4242,0.82,0.2985,41,52,93,mild
17,18,2011-01-01,1,0,1,17,0,6,0,2,0.44,0.4394,0.82,0.2836,15,52,67,mild
18,19,2011-01-01,1,0,1,18,0,6,0,3,0.42,0.4242,0.88,0.2537,9,26,35,mild
19,20,2011-01-01,1,0,1,19,0,6,0,3,0.42,0.4242,0.88,0.2537,6,31,37,mild
20,21,2011-01-01,1,0,1,20,0,6,0,2,0.40,0.4091,0.87,0.2537,11,25,36,mild
21,22,2011-01-01,1,0,1,21,0,6,0,2,0.40,0.4091,0.87,0.1940,3,31,34,mild
22,23,2011-01-01,1,0,1,22,0,6,0,2,0.40,0.4091,0.94,0.2239,11,17,28,mild
23,24,2011-01-01,1,0,1,23,0,6,0,2,0.46,0.4545,0.88,0.2985,15,24,39,mild
24,25,2011-01-02,1,0,1,0,0,0,0,2,0.46,0.4545,0.88,0.2985,4,13,17,mild
25,26,2011-01-02,1,0,1,1,0,0,0,2,0.44,0.4394,0.94,0.2537,1,16,17,mild
26,27,2011-01-02,1,0,1,2,0,0,0,2,0.42,0.4242,1.00,0.2836,1,8,9,mild
27,28,2011-01-02,1,0,1,3,0,0,0,2,0.46,0.4545,0.94,0.1940,2,4,6,mild
28,29,2011-01-02,1,0,1,4,0,0,0,2,0.46,0.4545,0.94,0.1940,2,1,3,mild
29,30,2011-01-02,1,0,1,6,0,0,0,3,0.42,0.4242,0.77,0.2985,0,2,2,mild
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17349,17350,2012-12-30,1,1,12,18,0,0,0,2,0.24,0.2121,0.44,0.2985,12,113,125,cool
17350,17351,2012-12-30,1,1,12,19,0,0,0,1,0.34,0.3636,0.61,0.0000,16,86,102,mild
17351,17352,2012-12-30,1,1,12,20,0,0,0,1,0.22,0.1970,0.47,0.3284,9,63,72,cool
17352,17353,2012-12-30,1,1,12,21,0,0,0,1,0.20,0.2121,0.51,0.1642,5,42,47,cool
17353,17354,2012-12-30,1,1,12,22,0,0,0,1,0.20,0.1970,0.55,0.1940,6,30,36,cool
17354,17355,2012-12-30,1,1,12,23,0,0,0,1,0.20,0.1970,0.51,0.2239,10,39,49,cool
17355,17356,2012-12-31,1,1,12,0,0,1,1,1,0.18,0.1818,0.55,0.1940,4,30,34,cool
17356,17357,2012-12-31,1,1,12,1,0,1,1,1,0.18,0.1818,0.55,0.1940,6,13,19,cool
17357,17358,2012-12-31,1,1,12,2,0,1,1,1,0.16,0.1667,0.59,0.1642,3,8,11,cool
17358,17359,2012-12-31,1,1,12,3,0,1,1,1,0.16,0.1818,0.59,0.1045,0,1,1,cool
17359,17360,2012-12-31,1,1,12,4,0,1,1,1,0.14,0.1667,0.69,0.1045,0,3,3,cool
17360,17361,2012-12-31,1,1,12,5,0,1,1,1,0.16,0.1515,0.64,0.1940,0,9,9,cool
17361,17362,2012-12-31,1,1,12,6,0,1,1,1,0.16,0.1667,0.64,0.1642,0,40,40,cool
17362,17363,2012-12-31,1,1,12,7,0,1,1,1,0.16,0.1818,0.64,0.1343,2,83,85,cool
17363,17364,2012-12-31,1,1,12,8,0,1,1,1,0.14,0.1515,0.69,0.1343,9,187,196,cool
17364,17365,2012-12-31,1,1,12,9,0,1,1,2,0.18,0.2121,0.64,0.1045,13,144,157,cool
17365,17366,2012-12-31,1,1,12,10,0,1,1,2,0.20,0.2121,0.69,0.1343,33,87,120,cool
17366,17367,2012-12-31,1,1,12,11,0,1,1,2,0.22,0.2273,0.60,0.1940,43,114,157,cool
17367,17368,2012-12-31,1,1,12,12,0,1,1,2,0.24,0.2273,0.56,0.1940,52,172,224,cool
17368,17369,2012-12-31,1,1,12,13,0,1,1,2,0.26,0.2576,0.44,0.1642,38,165,203,mild
17369,17370,2012-12-31,1,1,12,14,0,1,1,2,0.28,0.2727,0.45,0.2239,62,185,247,mild
17370,17371,2012-12-31,1,1,12,15,0,1,1,2,0.28,0.2879,0.45,0.1343,69,246,315,mild
17371,17372,2012-12-31,1,1,12,16,0,1,1,2,0.26,0.2576,0.48,0.1940,30,184,214,mild
17372,17373,2012-12-31,1,1,12,17,0,1,1,2,0.26,0.2879,0.48,0.0896,14,150,164,mild
17373,17374,2012-12-31,1,1,12,18,0,1,1,2,0.26,0.2727,0.48,0.1343,10,112,122,mild
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119,mild
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89,mild
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90,mild
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61,mild
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49,mild

In [242]:
#ANSWER
bikes['atemp_level'] = atemp_level
bikes['atemp_level'].loc[(bikes['atemp_level'] == 'mild') & (bikes['season'] == 2)].count()

1829

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

# Synthetic Data

Sometimes we may want to generate test data, or we may need to initalise a series, matrix, or data frame for input to an algorithm. Numpy has several methods we can use for this.

Execute the following, then check the shape and content of each variable:

In [243]:
# Creating arrays with initial values
a = np.zeros((3))
b = np.ones((1,3))
c = np.random.randint(1,10,(2,3,4))   # randint(low, high, size)
d = np.arange(4)
e = np.array( [[1,2,3,4], [5,6,7,8]] )

In [255]:
# Cleaning Data
a, a.shape

(array([0., 0., 0.]), (3,))

In [256]:
b, b.shape

(array([[1., 1., 1.]]), (1, 3))

In [257]:
c, c.shape

(array([[[8, 8, 2, 1],
         [8, 4, 7, 8],
         [8, 6, 3, 6]],

        [[7, 4, 1, 6],
         [7, 8, 4, 8],
         [9, 8, 4, 3]]]), (2, 3, 4))

In [258]:
d, d.shape

(array([0, 1, 2, 3]), (4,))

In [259]:
e, e.shape

(array([[1, 2, 3, 4],
        [5, 6, 7, 8]]), (2, 4))

## Load Data

Load rock.csv and clean the dataset.

In [316]:
df_rock = pd.read_csv('rock.csv')
df_rock.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

## Check Column Names

Check column names and clean.

In [317]:
df_rock.columns

Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')

In [318]:
df_rock_columns_clean = df_rock.columns.str.lower()
df_rock_columns_clean = df_rock_columns_clean.str.replace('?', '')
df_rock_columns_clean = df_rock_columns_clean.str.replace('*', '')
df_rock_columns_clean = df_rock_columns_clean.str.replace('clean', '').str.strip().str.replace(' ', '_')
df_rock_columns_clean

Index(['song', 'artist', 'release_year', 'combined', 'first', 'year',
       'playcount', 'fg'],
      dtype='object')

In [319]:
# apply the clean columns
df_rock.columns = df_rock_columns_clean
df_rock.columns

Index(['song', 'artist', 'release_year', 'combined', 'first', 'year',
       'playcount', 'fg'],
      dtype='object')

# Replace Null Values With 0

Check 'release' column whether this column have any null value or not. Replace null value with 0.

In [320]:
df_rock['release_year'].isnull()

0       False
1        True
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10       True
11      False
12      False
13       True
14      False
15      False
16       True
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24       True
25       True
26       True
27      False
28      False
29       True
        ...
2200    False
2201    False
2202    False
2203     True
2204    False
2205     True
2206     True
2207    False
2208     True
2209    False
2210    False
2211    False
2212    False
2213    False
2214    False
2215     True
2216     True
2217    False
2218     True
2219    False
2220    False
2221     True
2222     True
2223    False
2224    False
2225     True
2226    False
2227    False
2228    False
2229    False
Name: release_year, Length: 2230, dtype: bool

In [321]:
df_rock['release_year'].fillna(0, inplace = True)

In [322]:
df_rock['release_year'].isnull().sum()

0

# Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [323]:
df_rock.dtypes

song            object
artist          object
release_year    object
combined        object
first            int64
year             int64
playcount        int64
fg               int64
dtype: object

In [324]:
df_rock['release_year'].value_counts()

0                577
1973             104
1977              83
1975              83
1970              81
1971              75
1969              72
1980              70
1978              64
1979              63
1981              61
1967              61
1983              60
1976              56
1982              54
1984              51
1972              50
1974              48
1968              46
1985              39
1987              39
1986              37
1991              34
1989              32
1966              30
1988              29
1965              28
1994              25
1990              22
1993              19
1992              14
1964              14
1999              13
1995              10
1963               9
1997               9
1996               9
1998               6
2002               6
2004               5
2012               5
2005               5
2001               4
1962               3
2003               3
2011               3
2008               3
2000               3
2007               3
2013               2
2014               2
SONGFACTS.COM      1
1958               1
1961               1
2006               1
1071               1
1955               1
Name: release_year, dtype: int64

In [329]:
df_rock['release_year'] = df_rock['release_year'].replace('SONGFACTS.COM', np.NaN)

In [333]:
df_rock['release_year'] = pd.to_numeric(df_rock['release_year'])

In [334]:
# df_rock['release_year'] = df_rock['release_year'].astype('int64') --> return error of nan to to int64
df_rock['release_year'].dtypes

dtype('float64')

# Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [335]:
df_rock.describe()

       release_year   first         year    playcount           fg
count   2229.000000  2230.0  2230.000000  2230.000000  2230.000000
mean    1465.988784     1.0     0.741256    16.872646    15.048430
std      866.834789     0.0     0.438043    25.302972    25.288366
min        0.000000     1.0     0.000000     0.000000     0.000000
25%        0.000000     1.0     0.000000     1.000000     0.000000
50%     1973.000000     1.0     1.000000     4.000000     3.000000
75%     1981.000000     1.0     1.000000    21.000000    18.000000
max     2014.000000     1.0     1.000000   142.000000   142.000000

In [356]:
df_rock[df_rock['release_year'] == 0]

,song,artist,release_year,combined,first,year,playcount,fg
1,Fantasy Girl,.38 Special,0.0,Fantasy Girl by .38 Special,1,0,3,0
10,"Baby, Please Don't Go",AC/DC,0.0,"Baby, Please Don't Go by AC/DC",1,0,1,0
13,CAN'T STOP ROCK'N'ROLL,AC/DC,0.0,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
16,Girls Got Rhythm,AC/DC,0.0,Girls Got Rhythm by AC/DC,1,0,24,0
24,Let's Get It Up,AC/DC,0.0,Let's Get It Up by AC/DC,1,0,4,0
25,Live Wire,AC/DC,0.0,Live Wire by AC/DC,1,0,2,0
26,Moneytalks,AC/DC,0.0,Moneytalks by AC/DC,1,0,20,0
29,Shoot To Thrill,AC/DC,0.0,Shoot To Thrill by AC/DC,1,0,45,0
31,Sin City,AC/DC,0.0,Sin City by AC/DC,1,0,1,0
35,What Do You Do For Money Honey,AC/DC,0.0,What Do You Do For Money Honey by AC/DC,1,0,2,0
42,"Baby, Please Don't Go",Aerosmith,0.0,"Baby, Please Don't Go by Aerosmith",1,0,1,0
45,Come Together,Aerosmith,0.0,Come Together by Aerosmith,1,0,65,0
53,Kings and Queens,Aerosmith,0.0,Kings and Queens by Aerosmith,1,0,1,0
60,One Way Street,Aerosmith,0.0,One Way Street by Aerosmith,1,0,1,0
66,The Other Side,Aerosmith,0.0,The Other Side by Aerosmith,1,0,11,0
71,You See Me Crying,Aerosmith,0.0,You See Me Crying by Aerosmith,1,0,1,0
75,Fantasy,Aldo Nova,0.0,Fantasy by Aldo Nova,1,0,4,0
76,BE MY LOVER,Alice Cooper,0.0,BE MY LOVER by Alice Cooper,1,0,1,0
80,House Of Fire,Alice Cooper,0.0,House Of Fire by Alice Cooper,1,0,1,0
100,One Way Out,Allman Brothers Band,0.0,One Way Out by Allman Brothers Band,1,0,3,0
102,Southbound,Allman Brothers Band,0.0,Southbound by Allman Brothers Band,1,0,2,0
104,Whippin' Post,Allman Brothers Band,0.0,Whippin' Post by Allman Brothers Band,1,0,6,0
110,Immigrant Song,Ann Wilson,0.0,Immigrant Song by Ann Wilson,1,0,2,0
111,Roller,April Wine,0.0,Roller by April Wine,1,0,1,0
113,Coming into Los Angeles,Arlo Guthrie,0.0,Coming into Los Angeles by Arlo Guthrie,1,0,1,0
114,Wayside,Artful Dodger,0.0,Wayside by Artful Dodger,1,0,1,0
118,Spooky,Atlanta Rhythm Section,0.0,Spooky by Atlanta Rhythm Section,1,0,1,0
120,Blondes In Black Cars,Autograph,0.0,Blondes In Black Cars by Autograph,1,0,1,0
122,Rock And Roll Party In The Streets,Axe,0.0,Rock And Roll Party In The Streets by Axe,1,0,1,0
124,Roll On Down The Highway,Bachman-Turner Overdrive,0.0,Roll On Down The Highway by Bachman-Turner Ove...,1,0,5,0
...,...,...,...,...,...,...,...,...
2149,Take Your Whiskey Home,Van Halen,0.0,Take Your Whiskey Home by Van Halen,1,0,8,0
2150,Top Jimmy,Van Halen,0.0,Top Jimmy by Van Halen,1,0,23,0
2151,Top of the World,Van Halen,0.0,Top of the World by Van Halen,1,0,5,0
2157,And It Stoned Me,Van Morrison,0.0,And It Stoned Me by Van Morrison,1,0,1,0
2158,BLUE MONEY,Van Morrison,0.0,BLUE MONEY by Van Morrison,1,0,1,0
2162,Gloria,Van Morrison,0.0,Gloria by Van Morrison,1,0,1,0
2164,Jackie Wilson Said,Van Morrison,0.0,Jackie Wilson Said by Van Morrison,1,0,1,0
2168,Edge of a Broken Heart,Vixen,0.0,Edge of a Broken Heart by Vixen,1,0,2,0
2174,Uncle Tom's Cabin,Warrant,0.0,Uncle Tom's Cabin by Warrant,1,0,1,0
2178,Street Corner Serenade,Wet Willie,0.0,Street Corner Serenade by Wet Willie,1,0,2,0
2179,Wait,White Lion,0.0,Wait by White Lion,1,0,1,0
2184,Slow An' Easy,Whitesnake,0.0,Slow An' Easy by Whitesnake,1,0,6,0
2185,Still of the Night,Whitesnake,0.0,Still of the Night by Whitesnake,1,0,14,0
2186,Who Are You?,Why Not,0.0,Who Are You? by Why Not,1,0,5,0
2188,Night Moves,Wildlife,0.0,Night Moves by Wildlife,1,0,23,0
2189,We've Got Tonight,Wildlife,0.0,We've Got Tonight by Wildlife,1,0,4,0
2190,Can't Get Enough,Winger,0.0,Can't Get Enough by Winger,1,0,1,0
2191,Headed For A Heartbreak,Winger,0.0,Headed For A Heartbreak by Winger,1,0,1,0
2192,Seventeen,Winger,0.0,Seventeen by Winger,1,0,2,0
2194,Summertime Girls,Y&T,0.0,Summertime Girls by Y&T,1,0,4,0
2203,Wonderous Stories,Yes,0.0,Wonderous Stories by Yes,1,0,5,0
2205,Tell Me What You Want,Zebra,0.0,Tell Me What You Want by Zebra,1,0,2,0
2206,Who's Behind The Door,Zebra,0.0,Who's Behind The Door by Zebra,1,0,1,0
2208,A Fool for Your Stockings,ZZ Top,0.0,A Fool for Your Stockings by ZZ Top,1,0,1,0
2215,I Thank You,ZZ Top,0.0,I Thank You by ZZ Top,1,0,16,0
2216,"I'm Bad, I'm Nationwide",ZZ Top,0.0,"I'm Bad, I'm Nationwide by ZZ Top",1,0,10,0
2218,Just Got Paid,ZZ Top,0.0,Just Got Paid by ZZ Top,1,0,2,0
2221,My Head's In Mississippi,ZZ Top,0.0,My Head's In Mississippi by ZZ Top,1,0,1,0
2222,Party On The Patio,ZZ Top,0.0,Party On The Patio by ZZ Top,1,0,14,0
2225,She Loves My Automobile,ZZ Top,0.0,She Loves My Automobile by ZZ Top,1,0,1,0

In [357]:
df_rock['release_year'] = df_rock['release_year'].replace(0, np.NaN)

In [358]:
df_rock['release_year']

0       1982.0
1          NaN
2       1981.0
3       1980.0
4       1975.0
5       2000.0
6       2000.0
7       2002.0
8       1992.0
9       1985.0
10         NaN
11      1980.0
12      1993.0
13         NaN
14      1976.0
15      1981.0
16         NaN
17      1995.0
18      1980.0
19      1980.0
20      1979.0
21      1975.0
22      1984.0
23      1977.0
24         NaN
25         NaN
26         NaN
27      1979.0
28      1980.0
29         NaN
         ...
2200    1983.0
2201    1971.0
2202    1971.0
2203       NaN
2204    1971.0
2205       NaN
2206       NaN
2207    1968.0
2208       NaN
2209    1976.0
2210    1973.0
2211    1980.0
2212    1983.0
2213    1983.0
2214    1975.0
2215       NaN
2216       NaN
2217    1973.0
2218       NaN
2219    1973.0
2220    1983.0
2221       NaN
2222       NaN
2223    1981.0
2224    1983.0
2225       NaN
2226    1981.0
2227    1975.0
2228    1983.0
2229    1973.0
Name: release_year, Length: 2230, dtype: float64

In [359]:
df_rock.describe()

       release_year   first         year    playcount           fg
count   1652.000000  2230.0  2230.000000  2230.000000  2230.000000
mean    1978.019976     1.0     0.741256    16.872646    15.048430
std       24.191247     0.0     0.438043    25.302972    25.288366
min     1071.000000     1.0     0.000000     0.000000     0.000000
25%     1971.000000     1.0     0.000000     1.000000     0.000000
50%     1977.000000     1.0     1.000000     4.000000     3.000000
75%     1984.000000     1.0     1.000000    21.000000    18.000000
max     2014.000000     1.0     1.000000   142.000000   142.000000

In [360]:
df_rock['release_year'] = df_rock['release_year'].replace(1071, np.NaN)

In [361]:
df_rock.describe()

       release_year   first         year    playcount           fg
count   1651.000000  2230.0  2230.000000  2230.000000  2230.000000
mean    1978.569352     1.0     0.741256    16.872646    15.048430
std        9.309780     0.0     0.438043    25.302972    25.288366
min     1955.000000     1.0     0.000000     0.000000     0.000000
25%     1971.000000     1.0     0.000000     1.000000     0.000000
50%     1977.000000     1.0     1.000000     4.000000     3.000000
75%     1984.000000     1.0     1.000000    21.000000    18.000000
max     2014.000000     1.0     1.000000   142.000000   142.000000

# Write Some Functions

## Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [373]:
def rock_data(data):
    print('Songs: ', data['song'])
    print('\nArtists: ', data['artist'])
    print('\nSongs before 1970: ', data['release_year'] < 1970)
    
rock_data(df_rock)

Songs:  0                                  Caught Up in You
1                                      Fantasy Girl
2                                   Hold On Loosely
3                            Rockin' Into the Night
4                                 Art For Arts Sake
5                                        Kryptonite
6                                             Loser
7                                     When I'm Gone
8                                        What's Up?
9                                        Take On Me
10                            Baby, Please Don't Go
11                                    Back In Black
12                                          Big Gun
13                           CAN'T STOP ROCK'N'ROLL
14                      Dirty Deeds Done Dirt Cheap
15                          For Those About To Rock
16                                 Girls Got Rhythm
17                                   Hard As A Rock
18                               Have a Drink On Me
19                                      Hells Bells
20                                  Highway To Hell
21                       It's A Long Way To The Top
22                                        Jailbreak
23                                Let There Be Rock
24                                  Let's Get It Up
25                                        Live Wire
26                                       Moneytalks
27                                    Night Prowler
28              Rock and Roll Ain't Noise Pollution
29                                  Shoot To Thrill
                           ...
2200                        Owner of a Lonely Heart
2201                                     Roundabout
2202                               Starship Trooper
2203                              Wonderous Stories
2204                           Yours Is No Disgrace
2205                          Tell Me What You Want
2206                          Who's Behind The Door
2207                             Time of the Season
2208                      A Fool for Your Stockings
2209               Arrested For Driving While Blind
2210                   Beer Drinkers & Hell Raisers
2211                               Cheap Sunglasses
2212                           Gimme All Your Lovin
2213                          Got Me Under Pressure
2214                              Heard It On the X
2215                                    I Thank You
2216                        I'm Bad, I'm Nationwide
2217                        Jesus Just Left Chicago
2218                                  Just Got Paid
2219                                      La Grange
2220                                           Legs
2221                       My Head's In Mississippi
2222                             Party On The Patio
2223                                 Pearl Necklace
2224                              Sharp Dressed Man
2225                        She Loves My Automobile
2226                              Tube Snake Boogie
2227                                           Tush
2228                                     TV Dinners
2229    WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO
Name: song, Length: 2230, dtype: object

Artists:  0         .38 Special
1         .38 Special
2         .38 Special
3         .38 Special
4                10cc
5        3 Doors Down
6        3 Doors Down
7        3 Doors Down
8       4 Non Blondes
9                a-ha
10              AC/DC
11              AC/DC
12              AC/DC
13              AC/DC
14              AC/DC
15              AC/DC
16              AC/DC
17              AC/DC
18              AC/DC
19              AC/DC
20              AC/DC
21              AC/DC
22              AC/DC
23              AC/DC
24              AC/DC
25              AC/DC
26              AC/DC
27              AC/DC
28              AC/DC
29              AC/DC
            ...
2200              Yes
2201              Yes
2202              Yes
2203              Yes
2204              Yes
2205            Zebra
2206            Zebra
2207          Zombies
2208           ZZ Top
2209           ZZ Top
2210           ZZ Top
2211           ZZ Top
2212           ZZ Top
2213           ZZ Top
2214           ZZ Top
2215           ZZ Top
2216           ZZ Top
2217           ZZ Top
2218           ZZ Top
2219           ZZ Top
2220           ZZ Top
2221           ZZ Top
2222           ZZ Top
2223           ZZ Top
2224           ZZ Top
2225           ZZ Top
2226           ZZ Top
2227           ZZ Top
2228           ZZ Top
2229           ZZ Top
Name: artist, Length: 2230, dtype: object

Songs before 1970:  0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
2200    False
2201    False
2202    False
2203    False
2204    False
2205    False
2206    False
2207     True
2208    False
2209    False
2210    False
2211    False
2212    False
2213    False
2214    False
2215    False
2216    False
2217    False
2218    False
2219    False
2220    False
2221    False
2222    False
2223    False
2224    False
2225    False
2226    False
2227    False
2228    False
2229    False
Name: release_year, Length: 2230, dtype: bool

## Write a function that converts cells in a DataFrame to float and otherwise replaces them with np.nan

In [391]:
def conv2float(data):
    data = pd.to_numeric(data, errors='coerce')
    return data

In [400]:
df_rock.apply(conv2float)
#interesting to see 'apply' function that the argument is not passed 
#axis=1 each row for apply
#axis=0 each columns

      song  artist  release_year  combined  first  year  playcount   fg
0      NaN     NaN        1982.0       NaN      1     1         82   82
1      NaN     NaN           NaN       NaN      1     0          3    0
2      NaN     NaN        1981.0       NaN      1     1         85   85
3      NaN     NaN        1980.0       NaN      1     1         18   18
4      NaN     NaN        1975.0       NaN      1     1          1    1
5      NaN     NaN        2000.0       NaN      1     1         13   13
6      NaN     NaN        2000.0       NaN      1     1          1    1
7      NaN     NaN        2002.0       NaN      1     1          6    6
8      NaN     NaN        1992.0       NaN      1     1          3    3
9      NaN     NaN        1985.0       NaN      1     1          1    1
10     NaN     NaN           NaN       NaN      1     0          1    0
11     NaN     NaN        1980.0       NaN      1     1         97   97
12     NaN     NaN        1993.0       NaN      1     1          6    6
13     NaN     NaN           NaN       NaN      1     0          5    0
14     NaN     NaN        1976.0       NaN      1     1         85   85
15     NaN     NaN        1981.0       NaN      1     1         46   46
16     NaN     NaN           NaN       NaN      1     0         24    0
17     NaN     NaN        1995.0       NaN      1     1          1    1
18     NaN     NaN        1980.0       NaN      1     1         39   39
19     NaN     NaN        1980.0       NaN      1     1         74   74
20     NaN     NaN        1979.0       NaN      1     1         92   92
21     NaN     NaN        1975.0       NaN      1     1         39   39
22     NaN     NaN        1984.0       NaN      1     1          1    1
23     NaN     NaN        1977.0       NaN      1     1          3    3
24     NaN     NaN           NaN       NaN      1     0          4    0
25     NaN     NaN           NaN       NaN      1     0          2    0
26     NaN     NaN           NaN       NaN      1     0         20    0
27     NaN     NaN        1979.0       NaN      1     1          1    1
28     NaN     NaN        1980.0       NaN      1     1         21   21
29     NaN     NaN           NaN       NaN      1     0         45    0
...    ...     ...           ...       ...    ...   ...        ...  ...
2200   NaN     NaN        1983.0       NaN      1     1         81   81
2201   NaN     NaN        1971.0       NaN      1     1         44   44
2202   NaN     NaN        1971.0       NaN      1     1          1    1
2203   NaN     NaN           NaN       NaN      1     0          5    0
2204   NaN     NaN        1971.0       NaN      1     1          1    1
2205   NaN     NaN           NaN       NaN      1     0          2    0
2206   NaN     NaN           NaN       NaN      1     0          1    0
2207   NaN     NaN        1968.0       NaN      1     1         14   14
2208   NaN     NaN           NaN       NaN      1     0          1    0
2209   NaN     NaN        1976.0       NaN      1     1          1    1
2210   NaN     NaN        1973.0       NaN      1     1          8    8
2211   NaN     NaN        1980.0       NaN      1     1         34   34
2212   NaN     NaN        1983.0       NaN      1     1         86   86
2213   NaN     NaN        1983.0       NaN      1     1         29   29
2214   NaN     NaN        1975.0       NaN      1     1          2    2
2215   NaN     NaN           NaN       NaN      1     0         16    0
2216   NaN     NaN           NaN       NaN      1     0         10    0
2217   NaN     NaN        1973.0       NaN      1     1          6    6
2218   NaN     NaN           NaN       NaN      1     0          2    0
2219   NaN     NaN        1973.0       NaN      1     1        111  111
2220   NaN     NaN        1983.0       NaN      1     1        121  121
2221   NaN     NaN           NaN       NaN      1     0          1    0
2222   NaN     NaN           NaN       NaN      1     0         14    0
2223   NaN     NaN        1981.0       NaN      1     1          5    5
2224   NaN     NaN        1983.0       NaN      1     1        120  120
2225   NaN     NaN           NaN       NaN      1     0          1    0
2226   NaN     NaN        1981.0       NaN      1     1         32   32
2227   NaN     NaN        1975.0       NaN      1     1        109  109
2228   NaN     NaN        1983.0       NaN      1     1          1    1
2229   NaN     NaN        1973.0       NaN      1     1          2    2

[2230 rows x 8 columns]

## Apply these functions to your dataset

In [392]:
df_rock.apply(conv2float)

      song  artist  release_year  combined  first  year  playcount   fg
0      NaN     NaN        1982.0       NaN      1     1         82   82
1      NaN     NaN           NaN       NaN      1     0          3    0
2      NaN     NaN        1981.0       NaN      1     1         85   85
3      NaN     NaN        1980.0       NaN      1     1         18   18
4      NaN     NaN        1975.0       NaN      1     1          1    1
5      NaN     NaN        2000.0       NaN      1     1         13   13
6      NaN     NaN        2000.0       NaN      1     1          1    1
7      NaN     NaN        2002.0       NaN      1     1          6    6
8      NaN     NaN        1992.0       NaN      1     1          3    3
9      NaN     NaN        1985.0       NaN      1     1          1    1
10     NaN     NaN           NaN       NaN      1     0          1    0
11     NaN     NaN        1980.0       NaN      1     1         97   97
12     NaN     NaN        1993.0       NaN      1     1          6    6
13     NaN     NaN           NaN       NaN      1     0          5    0
14     NaN     NaN        1976.0       NaN      1     1         85   85
15     NaN     NaN        1981.0       NaN      1     1         46   46
16     NaN     NaN           NaN       NaN      1     0         24    0
17     NaN     NaN        1995.0       NaN      1     1          1    1
18     NaN     NaN        1980.0       NaN      1     1         39   39
19     NaN     NaN        1980.0       NaN      1     1         74   74
20     NaN     NaN        1979.0       NaN      1     1         92   92
21     NaN     NaN        1975.0       NaN      1     1         39   39
22     NaN     NaN        1984.0       NaN      1     1          1    1
23     NaN     NaN        1977.0       NaN      1     1          3    3
24     NaN     NaN           NaN       NaN      1     0          4    0
25     NaN     NaN           NaN       NaN      1     0          2    0
26     NaN     NaN           NaN       NaN      1     0         20    0
27     NaN     NaN        1979.0       NaN      1     1          1    1
28     NaN     NaN        1980.0       NaN      1     1         21   21
29     NaN     NaN           NaN       NaN      1     0         45    0
...    ...     ...           ...       ...    ...   ...        ...  ...
2200   NaN     NaN        1983.0       NaN      1     1         81   81
2201   NaN     NaN        1971.0       NaN      1     1         44   44
2202   NaN     NaN        1971.0       NaN      1     1          1    1
2203   NaN     NaN           NaN       NaN      1     0          5    0
2204   NaN     NaN        1971.0       NaN      1     1          1    1
2205   NaN     NaN           NaN       NaN      1     0          2    0
2206   NaN     NaN           NaN       NaN      1     0          1    0
2207   NaN     NaN        1968.0       NaN      1     1         14   14
2208   NaN     NaN           NaN       NaN      1     0          1    0
2209   NaN     NaN        1976.0       NaN      1     1          1    1
2210   NaN     NaN        1973.0       NaN      1     1          8    8
2211   NaN     NaN        1980.0       NaN      1     1         34   34
2212   NaN     NaN        1983.0       NaN      1     1         86   86
2213   NaN     NaN        1983.0       NaN      1     1         29   29
2214   NaN     NaN        1975.0       NaN      1     1          2    2
2215   NaN     NaN           NaN       NaN      1     0         16    0
2216   NaN     NaN           NaN       NaN      1     0         10    0
2217   NaN     NaN        1973.0       NaN      1     1          6    6
2218   NaN     NaN           NaN       NaN      1     0          2    0
2219   NaN     NaN        1973.0       NaN      1     1        111  111
2220   NaN     NaN        1983.0       NaN      1     1        121  121
2221   NaN     NaN           NaN       NaN      1     0          1    0
2222   NaN     NaN           NaN       NaN      1     0         14    0
2223   NaN     NaN        1981.0       NaN      1     1          5    5
2224   NaN     NaN        1983.0       NaN      1     1        120  120
2225   NaN     NaN           NaN       NaN      1     0          1    0
2226   NaN     NaN        1981.0       NaN      1     1         32   32
2227   NaN     NaN        1975.0       NaN      1     1        109  109
2228   NaN     NaN        1983.0       NaN      1     1          1    1
2229   NaN     NaN        1973.0       NaN      1     1          2    2

[2230 rows x 8 columns]

## Describe the new float-only DataFrame.



> 
>
>

In [388]:
df_rock.describe().T

,count,mean,std,min,25%,50%,75%,max
release_year,1651.0,1978.569352,9.309780,1955.0,1971.0,1977.0,1984.0,2014.0
first,2230.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
year,2230.0,0.741256,0.438043,0.0,0.0,1.0,1.0,1.0
playcount,2230.0,16.872646,25.302972,0.0,1.0,4.0,21.0,142.0
fg,2230.0,15.048430,25.288366,0.0,0.0,3.0,18.0,142.0

>

>

>



---



---



> > > > > > > > > © 2019 Institute of Data


---



---